name: test publish
on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  publish-test:
    name: Publish Test
    runs-on: ubuntu-latest
    permissions:
      # This job needs write access so it can create a draft GitHub release.
      contents: write
      id-token: write
    steps:
    - name: Create GitHub app token
      uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
      id: app-token
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
        owner: jharvey10
        repositories: test-repo

    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        token: ${{ steps.app-token.outputs.token }}
        persist-credentials: true # Needed to carry forward the credentials to other git operations

    - name: Configure Git User
      env:
        APP_SLUG: ${{ steps.app-token.outputs.app-slug }}
        APP_ID: ${{ steps.app-token.outputs.app-id }}
      run: |
        git config user.name '${env:APP_SLUG}[bot]'
        git config user.email '${env:APP_ID}+${env:APP_SLUG}[bot]@users.noreply.github.com'

    - name: Publish
      run: |
        VERSION="${GITHUB_REF_NAME}"
        RELEASE_DOC_TAG=$(echo "${GITHUB_REF_NAME})"
        ghr \
          -t "${GITHUB_TOKEN}" \
          -u "jharvey10" \
          -r "test-repo" \
          -b="hi wow" \
          -delete -draft \
          "${VERSION}"
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
